<div class="home-container">
  <div class="form-container">
    <h2>Analyze Your Resume</h2>

    <form (ngSubmit)="onSubmit()">
      <label for="resume">Upload Resume (PDF/DOCX):</label>
      <input type="file" id="resume" accept=".pdf,.doc,.docx" (change)="onFileSelected($event)" required />

      <label for="jobDescription">Paste Job Description:</label>
      <textarea
        id="jobDescription" [(ngModel)]="jobDescription" name="jobDescription" rows="8"  required placeholder="Paste the job description here..."
      ></textarea>

      <button type="submit" (click)="onSubmit()">Get Results</button>
    </form>
  </div>
</div>