<h1>Welcome to Resume Screener AI</h1>
  <p>
    Struggling to tailor your resume for job applications?<br />
    Let AI help you evaluate your resume against your target job description.
  </p>

  <p>
    Upload your resume and a job description — and get a personalized match score
    along with AI-generated suggestions to improve your chances of getting hired.
  </p>
<div class="button-container">
<button class="button" (click)="goToForm()" style="vertical-align:middle"><span>Rate my Resume</span></button>
</div>